@model List<string>
@using (Ajax.BeginForm("ProduitResult", "ClientSelect", new AjaxOptions
{
    HttpMethod = "GET",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "produit-resultats",
}))
{
    <div class="gtco-section" style="padding:0">
        <div class="gtco-container">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-7">
                        @Html.TextBox("query", null, new { @class = "form-control", placeholder = "Rechercher un produit" })
                    </div>
                    <div class="col-md-2">
                        @Html.DropDownList("maxResult", new SelectList(Model), "9", new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <input type="submit" value="Recherche" class="form-control btn btn-default" />
                    </div>
                </div>
            </div>
            <div id="produit-resultats">
                @Html.Action("ProduitResult", "ClientSelect", new { maxResult = 9 })
            </div>

        </div>
    </div>
}